{% extends "web/base.html" %}
{% block title %}
{{post.title}}
{% endblock title %}
{% load static %}
{% block body %}
<div class="mt-2 p-4 px-3">
    <a href="{% url 'posts:show-posts'%}">
        <button class="btn btn-primary">
            <- Back</button>
    </a>
    <div class="text-center">
        <h1>{{post.title}}</h1>
        <br>
        <h5><em>Created by {{post.user.username}}</em></h5>
    </div>
    <h3>{{post.body}}</h3>
    <form method="POST" action="{% url 'posts:reaction-post' post_id=post.pk reaction='like' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-link">
            <img src="{% static 'posts/Heart.png' %}" width="40" height="auto">
        </button>
        {{likes}}
    </form>
    <form method="POST" action="{% url 'posts:reaction-post' post_id=post.pk reaction='dislike' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-link">
            <img src="{% static 'posts/poop.png' %}" width="40" height="auto">
        </button>
        {{dislikes}}
    </form>
    <form method="POST" action="{% url 'posts:comment-post' post_id=post.pk %}" class="mt-4">
        {% csrf_token %}
        <div class="form-floating">
            <textarea class="form-control modal-lg" id="{{ comment_form.body.id_for_label }}" name="{{ comment_form.body.html_name }}" rows="2" style="height: 100px" required></textarea>
            <button class="btn btn-primary mt-2 mb-5" type="submit">Comment</button>
        </div>
    </form>
    <div class='text-center mb-4'>
        <h5> Comments </h5> 
    </div>
    <ol class="list-group ">
        {% for comment in comments %}
        <li class="list-group-item d-flex justify-content-between align-items-start container">
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    {{comment.user.username}}
                </div>
                {{comment.body}}
            </div>
            <span class="badge bg-primary rounded-pill">{{comment.time_stamp|time:"H:i"}} {{ comment.time_stamp|date:"d.m.Y"}}</span>
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock body %}