{% extends "web/base.html" %}
{% block title %}
{{post.title}}
{% endblock title %}
{% load static %}
{% block body %}
<style>
    a { text-decoration: none; }
  </style>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<div class="mt-2 p-4 px-3">
        <button onclick = "history.go(-1)" class="btn btn-primary">
            <- Back
        </button>
    <div class="text-center">
        <h1>{{post.title}}</h1>
        <br>
        <h5><em>Created by <a href = "{% url 'cauth:cauth-profile' pk=post.user.pk %}">{{post.user.username}} </a></em></h5>
    </div>
    <h3>{{post.body}}</h3>
        {% csrf_token %}
        <button type="submit" class="heart btn btn-link" post-id = {{post.pk}}>
            <img src="{% static 'posts/Heart.png' %}" width="40" height="auto">
        </button>
        <span id = "like-count">{{likes}}</span>
    
    <script type = "text/javascript">
    $('.heart.btn.btn-link').click(function(){
        var postid;
        postid = $(this).attr("post-id");
        $.ajax(
            {
                type:"POST",
                url:"{% url 'posts:reaction-post'%}",
                data:{
                    post_id: postid,
                    reaction: "like",
                    csrfmiddlewaretoken: '{{csrf_token}}',
                },
                success: function(data){
                $('#dislike-count').text(data.dislikes)
                $('#like-count').text(data.likes)
            }
            }
        )
    })
    </script>
<button type="submit" class="poop btn btn-link" post-id = {{post.pk}}>
<img src="{% static 'posts/poop.png' %}" width="40" height="auto">
</button>
<span id = "dislike-count">{{dislikes}}</span>

<script type = "text/javascript">
$(".poop.btn.btn-link").click(function(){
    var postid;
    postid = $(this).attr("post-id");
    $.ajax({
        type:"POST",
        url:"{% url 'posts:reaction-post' %}",
        data:{
            post_id:postid,
            reaction:"dislike",
            csrfmiddlewaretoken:'{{csrf_token}}'
        },
        success: function(data){
            $('#dislike-count').text(data.dislikes)
            $('#like-count').text(data.likes)
        }
    })
})
</script>
    <div class='text-center mb-4'>
        <h5> Comments </h5> 
    </div>
    <form method="POST" action="{% url 'posts:comment-post' post_id=post.pk %}" class="mt-4">
        {% csrf_token %}
        <div class="form-floating">
            <textarea class="form-control modal-lg" id="comment-area" name="{{ comment_form.body.html_name }}" rows="2" style="height: 100px" required></textarea>
            <button class="btn btn-primary mt-2 mb-5" type="submit" id = "comment-button">Comment</button>
        </div>
    </form>
    <ol class="list-group ">
        {% for comment in comments %}
        <li class="list-group-item d-flex justify-content-between align-items-start container">
            <div class="ms-2 me-auto">
                <a href = '{% url "cauth:cauth-profile" pk=comment.user.pk %}'> <span class = "link" href = '{% url "cauth:cauth-profile" pk=comment.user.pk %}'>{{comment.user.username}} </span></a><br>
                {{comment.body}}<br>
                <img src="{% static 'posts/fire.png' %}" width="35" height="auto" comment_id = "{{comment.pk}}" class = "like"> <span id = "likes-count-{{comment.pk}}">{{comment.likes.count}}</span>
            </div>
            <span class="badge bg-primary rounded-pill">{{comment.time_stamp|time:"H:i"}} {{ comment.time_stamp|date:"d.m.Y"}}</span>
        </li>
        {% empty %}
        <div class='text-center'>
        <h5> Be the first to comment on this post! </h5>
        </div>
        {% endfor %}
    </ol>
    <script>
        $('.like').click(function(){
            var commentid;
            commentid = $(this).attr("comment_id");
            $.ajax({
                type:"POST",
                url:"{% url 'posts:comment-reaction' %}",
                data: {
                    comment_id: commentid,
                    csrfmiddlewaretoken: '{{csrf_token}}'
                },
                success: function(data){
                    $('#likes-count-'+commentid).text(data.likes)
                }
            })
        })
        document.querySelector('#comment-area').onkeyup = function(e) {
            if (e.keyCode === 13) { 
                document.querySelector('#comment-button').click();
            }
        };
    </script>
</div>
{% endblock body %}