{% extends "web/base.html" %}
{% block title %}
Web
{% endblock title %}

{% block body %}
    <div class="text-center">
        <br>
        <h1>Eng<h1>
        <h1>Welcome to the Web!</h1><br>
        <h3>Register to create posts, reading posts is available without registration.</h3>
        <br>
        <br>
        <h1>Ru<h1>
        <h2>Добро пожаловать на сайт "Web"</h2>
        <h3>Для создания постов зарегестрируйтесь, чтение постов доступно без регистрации.</h3>
    </div>
{% endblock body %}