{% extends "templates/base.html" %}
{% block title %}
Services
{% endblock title %}
{% load static %}
{% block body %}
<div class="p-3">
    <div class="list-group d-flex flex-row justify-content-center">
        <div class="card-container">
            <div class="card h-100">
                <img src="{% static 'services/cloud.png' %}" width="100" alt="YOU">
                <div class="card-body">
                    <h5 class="card-title">Weather</h5>
                    <p class="card-text">Check the weather in your city</p>
                    <a href="{% url 'services:services-weather' %}" class="btn btn-primary">Go!</a>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card h-100">
                <img src="{% static 'services/music.png' %}" width="100" alt="YOU">
                <div class="card-body">
                    <h5 class="card-title">Music</h5>
                    <p class="card-text">Listen to your favorite artists!</p>
                    <a href="{% url 'services:services-music' %}" class="btn btn-primary">Go!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.card-container {
    min-width: 200px; 
    min-height: 200px; 
    margin: 0 10px; 
    display: flex; 
    flex-direction: column; 
}

.card {
    flex-grow: 1;
}
</style>
{% endblock body %}